# Tarefa 01

- Leia os enunciados com atenção
- Saiba que pode haver mais de uma resposta correta
- Insira novas células de código sempre que achar necessário
- Em caso de dúvidas, procure os tutores
- Divirta-se :)

#### 1)  crie uma série do pandas a partir de uma lista com os dados abaixo:

Em um estudo sobre alteração na tempreatura global, A NASA disponibiliza dados de diferenças de de temperatura média da superfície terrestre relativos às médias de temperatura entre 1951 e 1980. Os dados originais podem ser vistos no site da NASA/GISS, e estão dispostos a cada década na tabela abaixo.

|ano|anomalia termica|
|:-:|:----:|
| 1900 | -0.08 |
| 1920 | -0.27 |
| 1940 | 0.12 |
| 1960 | -0.03 |
| 1980 | 0.26 |
| 2000 | 0.40 |
| 2020 | 1.02 |

Crie uma séries do Pandas a partir de uma lista com esses dados.

In [40]:
import pandas as pd
import numpy as np

# Seu código aqui

indice = [1900, 1920, 1940, 1960, 1980, 2000, 2020]
dados = [-0.08, -0.27, 0.12, -0.03, 0.26, 0.40, 1.02]
pd.Series(data=dados, index=indice)

1900   -0.08
1920   -0.27
1940    0.12
1960   -0.03
1980    0.26
2000    0.40
2020    1.02
dtype: float64

#### 2) Coloque os anos nos índices conforme a tabela.

In [41]:

# seu código aqui

indice = [1900, 1920, 1940, 1960, 1980, 2000, 2020]
dados = [-0.08, -0.27, 0.12, -0.03, 0.26, 0.40, 1.02]
pd.Series(data=dados, index=indice)

1900   -0.08
1920   -0.27
1940    0.12
1960   -0.03
1980    0.26
2000    0.40
2020    1.02
dtype: float64

#### 3) A partir do dicionário abaixo, crie uma séries do Pandas:

In [42]:
dic_temperaturas = {1900: -.08, 1920: -.27, 1940: .12, 1960: -.03, 1980: .26, 2000: .40, 2020: 1.02}

# seu código aqui

temperaturaSeries = pd.Series(dic_temperaturas)
temperaturaSeries

1900   -0.08
1920   -0.27
1940    0.12
1960   -0.03
1980    0.26
2000    0.40
2020    1.02
dtype: float64

#### 4) Transforme o ndarray abaixo em um dataframe. 
O numpy é capaz de gerar arrays n-dimensionais com números pseudo-aleatórios de acordo com uma variedade de distribuições, como no exemplo abaixo. Transforme esse nd-array em um DataFrame.

In [43]:
arr = np.random.normal(100, 10, (20,3))

# seu código aqui

dataframe = pd.DataFrame(np.random.normal(100, 10, (20,3)))
dataframe

             0           1           2
0    96.924391  103.132652  106.059053
1   108.143525  104.058182   93.250800
2   111.751439  101.652930   96.328372
3    99.966680   93.624159  101.192971
4    83.350769  113.736415  107.863827
5   100.298848   85.669370  125.808699
6   105.681676  104.247804  113.502039
7   101.361160  116.710490   99.637680
8    93.269336  103.256130  103.553373
9    92.519130  116.632998  121.611046
10   82.954186  137.094047  102.694449
11   86.272061   90.494183  104.377460
12   91.063001   99.922136   77.243535
13   86.910793   94.384288   87.499461
14   80.277971  106.410553  107.116624
15  104.579348  111.322292   99.216558
16   97.782391  115.827843  111.136892
17  105.046581   94.134156  128.700370
18   90.797662   90.439506   96.421141
19   91.005805   87.048948   98.514353

#### 5) Nomeie os índices das linhas com inteiros de 1 a 20, e as colunas com os nomes "x1", "x2", e "x3" respectivamente.

In [65]:
#seu código aqui

indice = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
dados = pd.DataFrame(np.random.normal(100, 10, (20,3)), columns = ['x1', 'x2', 'x3'])
pd.DataFrame(data=dados, index=indice)

            x1          x2          x3
1   101.667041  109.422812   97.710798
2    93.523436  107.063010  112.144106
3   102.815115   93.041202  103.660942
4    93.721405  101.540917  108.541177
5    97.513937  105.285946  119.612383
6   119.388423  111.976480  110.460116
7    97.615537   92.148724  106.412652
8   115.770173  113.659739  101.884019
9    87.746134   98.202314   89.893645
10   95.618562  100.410891   90.891975
11  108.515611  103.441266  106.119261
12  100.897356   95.702077   80.059650
13  103.810280  102.070164  110.824249
14  113.195760  110.000218  100.741415
15   94.462365   92.173074   90.013840
16   84.732569  100.322523   99.911418
17  110.244805   97.627599   97.182364
18  101.818358   99.214100  109.851146
19  101.719350  104.909147  114.824780
20         NaN         NaN         NaN

#### 6) No DataFrame do exercício 5, crie uma nova coluna como sendo a média das três colunas, e dê a ela o nome de "media" (não recomendo colocar acentos em nomes de variáveis).

In [67]:
# seu código aqui

indice = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
dados = pd.DataFrame(np.random.normal(100, 10, (21,3)), columns = ['x1', 'x2', 'x3'])
pd.DataFrame(data=dados, index=indice)

dados['Media'] = dados.apply(lambda row: (row.x1 + row.x2 + row.x3) / 3, axis = 1)
pd.DataFrame(data=dados, index=indice)

            x1          x2          x3       Media
1   100.317367   95.616548  114.181451  103.371789
2   108.732458  120.636077  106.713560  112.027365
3   108.084211  101.273734   89.664249   99.674064
4    98.792243   80.749235   95.274247   91.605242
5   106.806336  119.220963  102.693889  109.573730
6    97.952760   97.584408  100.210280   98.582483
7    88.570719  107.008853   78.120460   91.233344
8    95.041648  103.854478   88.256387   95.717504
9    95.604070   99.419676   99.337130   98.120292
10  110.601915  105.010324  105.736625  107.116288
11   97.842508  109.802904   88.481847   98.709086
12  108.825052   96.137046   99.294534  101.418877
13   99.329496   91.585418  118.660711  103.191875
14   97.971890  107.175733   93.529907   99.559177
15  112.115752  105.621948  111.339105  109.692268
16  100.019554   97.620443   92.119997   96.586664
17  102.448535  115.161129   99.076478  105.562047
18   89.952071   97.413351   95.780430   94.381951
19  100.330365  101.910758  112.094557  104.778560
20  110.462549  111.779285  106.770123  109.670653

#### 7) No DataFrame do exercício 6, crie uma nova coluna chamada "log_med", contendo o logaritmo natural da média calculada no exercício 6 <br>

In [68]:
# seu código aqui
import numpy
indice = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
dados = pd.DataFrame(np.random.normal(100, 10, (21,3)), columns = ['x1', 'x2', 'x3'])
pd.DataFrame(data=dados, index=indice)

dados['Media'] = dados.apply(lambda row: (row.x1 + row.x2 + row.x3) / 3, axis = 1)
n = dados['Media']
dados['log_med'] = numpy.log(n)

pd.DataFrame(data=dados, index=indice)

            x1          x2          x3       Media   log_med
1   101.567741   93.624351   74.498582   89.896891  4.498663
2    94.372875  112.475458  111.012744  105.953692  4.663002
3    97.271154   98.582756   97.601700   97.818537  4.583114
4    98.961734   96.164298  106.202539  100.442857  4.609589
5   107.071581  105.355380   83.144542   98.523835  4.590298
6    88.999013   87.384575  106.537975   94.307187  4.546557
7   102.248603   94.735833  112.055776  103.013404  4.634859
8   108.865175   88.860424   85.358530   94.361376  4.547132
9   113.060276   93.712159   91.616134   99.462857  4.599784
10   97.921576   94.592804  109.403510  100.639297  4.611543
11   88.231229   95.458094   82.677959   88.789094  4.486264
12  106.421316  103.305672   96.239914  101.988967  4.624865
13   91.609177  102.679785  107.583903  100.624289  4.611394
14   98.064249   83.027474   96.858692   92.650139  4.528830
15   99.337888  103.108062  103.568152  102.004701  4.625019
16   95.756338  100.925638  106.769682  101.150553  4.616610
17  101.111565  104.951457   95.357909  100.473644  4.609895
18  112.493624   82.648372   76.025427   90.389141  4.504124
19   88.904112   99.679370  104.970665   97.851383  4.583450
20  109.307860   96.759681   88.675321   98.247620  4.587491